@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&family=Sen&display=swap");
.dark-mode {
  background-color: rgba(8, 34, 66, 0.8431372549);
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p {
  color: #e5f1df;
}

/* BOTONES !*/
.botonActual {
  text-decoration: none;
  background-color: #e5f1df;
  border: 2px solid rgba(8, 34, 66, 0.8431372549);
  color: rgba(8, 34, 66, 0.8431372549);
  padding: 3px;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 2rem;
  margin: 0.5rem;
}

.boton {
  text-decoration: none;
  color: #e5f1df;
  background-color: rgba(8, 34, 66, 0.8431372549);
  padding: 3px;
  border-radius: 1rem;
  font-size: 2rem;
  margin: 0.5rem;
}
.boton:hover {
  border: 2px solid rgba(8, 34, 66, 0.8431372549);
  background-color: #e5f1df;
  color: rgba(8, 34, 66, 0.8431372549);
}

.botonDark {
  margin-top: 25px;
  left: 1rem;
  /* margen al h1 de cada pagina */
}

.form-control {
  background-color: #e5f1df;
  border: 2px solid rgba(9, 9, 108, 0.9490196078);
}

.botonLeer {
  padding: 1rem 2.5rem;
  color: #e5f1df;
  font-size: 1.3rem;
  background-color: rgba(9, 9, 108, 0.9490196078);
  border: 1px solid #e5f1df;
  border-radius: 5px;
  cursor: pointer;
}
.botonLeer:hover {
  border: 3px solid #e5f1df;
  font-weight: 700;
}

.siguienteHero {
  position: relative;
}

.btn-finalizar {
  cursor: pointer;
  text-decoration: none;
  color: rgba(8, 34, 66, 0.8431372549);
  background-color: #e5f1df;
  padding: 3px;
  border-radius: 1rem;
  font-size: 4rem;
  margin: 0.5rem;
  display: block;
  width: 100%;
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  border: 3px solid #000000;
}
.btn-finalizar:hover {
  border: 4px solid rgba(247, 39, 2, 0.7411764706);
  background-color: #e5f1df;
  color: rgba(8, 34, 66, 0.8431372549);
  font-weight: 900;
}

.botonDarkEstilo {
  cursor: pointer;
  text-decoration: none;
  color: #e5f1df;
  background-color: #000000;
  border: 2px solid #e5f1df;
}
.botonDarkEstilo:hover {
  border: 2px solid #000000;
  background-color: #e5f1df;
  color: rgba(9, 9, 108, 0.9490196078);
}

.imgLogo {
  height: 7.5rem;
  transition: transform 2.5s;
  transform: rotate(360deg);
  margin-top: 2.5rem;
}
.imgLogohover {
  animation: rotateInfinitely 2.4s infinite linear;
}

@keyframes rotateInfinitely {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* FOOTER !*/
footer {
  padding: 3rem;
  border-top: 2px double rgba(9, 9, 108, 0.9490196078);
  text-align: center;
  margin-top: 2rem;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

footer p {
  font-weight: 900;
  color: rgba(9, 9, 108, 0.9490196078);
  font-size: 2rem;
  text-transform: uppercase;
}

.logoRedes {
  color: rgba(9, 9, 108, 0.9490196078);
  text-align: center;
  padding: 2rem;
  cursor: pointer;
  font-size: 4rem;
}
.logoRedes:hover {
  font-size: 4.5rem;
  color: rgba(247, 39, 2, 0.7411764706);
}

.logoWhatsapp {
  width: 5rem;
  position: fixed;
  bottom: 40px;
  right: 1.5rem;
  cursor: pointer;
  transition: all 0.1s;
}
.logoWhatsapp:hover {
  width: 6rem;
}

/* Galería */
.galeria {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.foto {
  margin-top: 1rem;
  display: block;
  border-radius: 4rem;
  filter: grayscale(65%);
  object-fit: cover;
}
.foto:hover {
  filter: grayscale(0%);
  border-radius: 2rem;
  transition: all 0.1s;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  background-color: #e5f1df;
  background: none;
  color: rgba(9, 9, 108, 0.9490196078);
}

/* HERO! */
.hero {
  display: inline-block;
  position: relative;
  width: 100%;
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 400;
}

p {
  font-size: 2rem;
  margin: 1.5rem;
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto, Arial, Helvetica, sans-serif;
}

.hero h2 span {
  font-weight: 800;
  padding: 0.5px;
  position: relative;
}

.containerHero {
  display: flex;
  margin-top: 0;
}

.circoDescripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circoDescripcion h2 {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 600;
}

.circoDescripcion p {
  max-width: 90%;
  margin-top: 10px;
}

.containerTienda {
  max-width: 90%;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

/*TARJETAS DE LA TIENDA */
.contenedorTienda {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 1rem;
}

.tienda {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 0.7rem;
  background-color: rgba(117, 155, 238, 0.8274509804);
  margin-left: 1rem;
  margin-top: 2rem;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque", sans-serif;
}

.producto {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.header {
  padding-block: 1rem;
}

.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainTienda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Alinea el contenido a la parte inferior */
  align-items: flex-end;
  /* Alinea el contenido a la derecha */
  padding-block: 0.2rem;
  margin: 1rem;
}

.titulo {
  margin-bottom: 1rem;
}

.carrito-main {
  text-decoration: none;
  font-size: 2.5rem;
}

#numerito {
  font-size: 1.2em;
  font-weight: 600;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Distribuye los elementos horizontalmente de manera equitativa */
}

.producto {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  width: calc(33.33% - 1rem);
  /* Establece el ancho de cada elemento como un tercio del contenedor con un pequeño margen */
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  background-color: rgba(117, 155, 238, 0.8274509804);
  padding: 0.5rem 0.2rem;
  border-radius: 1rem;
  color: rgba(9, 9, 108, 0.9490196078);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: space-between;
  /* Alinea contenido verticalmente */
  align-items: center;
  /* Alinear contenido horizontalmente */
  position: relative;
  /* Establecer posición relativa */
}

.producto-titulo {
  min-height: auto;
  font-size: 2.5rem;
  max-height: 10rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  max-width: 100%;
  min-width: auto;
  overflow: hidden;
  /* Oculta el texto que se desborda del contenedor */
  text-overflow: ellipsis;
  /* Agrega puntos suspensivos (...) al final del texto que se desborda */
  white-space: nowrap;
  /* Evita que el texto se divida en múltiples líneas */
}

.precio-tarjeta {
  min-height: auto;
  font-size: 2rem;
  max-height: 3rem;
  margin-bottom: 0.2rem;
  margin-top: none;
}

.descripcion-prod-tarj {
  min-height: 3rem;
  max-height: 8rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: auto;
}

.tiendaImagen {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  /* Ajusta sin deformar */
  display: block;
}

.producto-btn {
  text-decoration: none;
  color: rgba(9, 9, 108, 0.9490196078);
  background-color: rgba(233, 247, 197, 0.3568627451);
  border: 2px solid rgba(8, 34, 66, 0.8431372549);
  padding: 3px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  min-height: 4rem;
  max-height: 4.8rem;
  width: 90%;
}
.producto-btn:hover {
  border: 2px solid rgba(9, 9, 108, 0.9490196078);
  letter-spacing: 0.5px;
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  justify-content: end;
  padding-block: end;
}

.infoCarrito {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  justify-content: end;
  padding-block: end;
}

.carrito-producto {
  display: flex;
  justify-content: initial;
  /*horizontal*/
  align-items: center;
  /*vertical*/
  border-radius: 1rem;
  border: 2px solid;
  margin: auto;
  height: 6rem;
  max-width: 99vh;
}

.carrito-producto p {
  align-items: center;
}

.carrito-tienda {
  overflow: hidden;
}

.carritoTotal {
  margin: auto;
  width: 50%;
  text-align: center; /* Centra el texto dentro del div */
}

#carrito-total {
  align-items: center;
  color: #000000;
  font-weight: 700;
}

.carrito-producto-btn {
  background-color: rgba(117, 155, 238, 0.8274509804);
  padding: 0.5rem;
  border: 1px solid rgba(9, 9, 108, 0.9490196078);
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 1rem;
}
.carrito-producto-btn:hover {
  background-color: #e5f1df;
  color: #000000;
}

.d-none {
  display: none;
}

.footer {
  padding-block: 2rem;
}

.no-hay-productos {
  color: rgba(247, 39, 2, 0.7411764706);
}

/* ENCABEZADO//HEADER */
.encabezado {
  display: flex;
  height: 8rem;
  padding: 1rem 0;
  padding-block: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: auto;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(9, 9, 108, 0.9490196078);
}

/* Medias Queries! */
.textoCompleto {
  display: none;
}

.tituloPrincipal h1 {
  margin-top: 0.1rem;
}

@media (min-width: 200px) and (max-width: 599px) {
  /* Estilos para pantallas entre 200px y 499px */
  .botonLeer {
    display: inline-block;
    opacity: 0.5;
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    margin: 1rem;
    width: 50%;
  }
}
@media (min-width: 700px) {
  .botonLeer {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* Ajusta el tamaño de los productos para pantallas más pequeñas */
  .producto {
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  /* Ajusta el tamaño de los productos para pantallas aún más pequeñas */
  .producto {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  /* Estilos para pantallas más pequeñas */
  .encabezado {
    height: auto;
    flex-direction: column;
  }
  .encabezado .nav-brand {
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
