.containerTienda {
    max-width: 90%;
    margin: 0 auto;
    padding-inline: 1.5rem;
}

/*TARJETAS DE LA TIENDA */

.contenedorTienda {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
}

.tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.7rem;
    background-color: $color-tarjetas-claro;
    margin-left: 1rem;
    margin-top: 2rem;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bricolage Grotesque", sans-serif;
}

.producto {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.header {
    padding-block: 1rem;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainTienda {
    //donde esta el carrito
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Alinea el contenido a la parte inferior */
    align-items: flex-end;
    /* Alinea el contenido a la derecha */
    padding-block: 0.2rem;
    margin: 1rem;
}


.titulo {
    margin-bottom: 1rem;
}

.carrito-main {
    text-decoration: none;
    font-size: 2.5rem;
}

#numerito {
    font-size: 1.2em;
    font-weight: 600;
}

.productos {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr;
    //     gap: 1.1rem;
    //     margin-bottom: 1.5rem;
    // }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Distribuye los elementos horizontalmente de manera equitativa */
}

.producto {
    //tarjetas
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: calc(33.33% - 1rem);
    /* Establece el ancho de cada elemento como un tercio del contenedor con un pequeño margen */
    margin-top: .2rem;
    margin-bottom: 0.5rem;
    background-color: $color-tarjetas-claro;
    padding: .5rem .2rem;
    border-radius: 1rem;
    color: $color-fuentes-claro;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: space-between;
    /* Alinea contenido verticalmente */
    align-items: center;
    /* Alinear contenido horizontalmente */
    position: relative;
    /* Establecer posición relativa */
}

.producto-titulo {
    min-height: auto;
    font-size: 2.5rem;
    max-height: 10rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    max-width: 100%;
    min-width: auto;
    overflow: hidden;
    /* Oculta el texto que se desborda del contenedor */
    text-overflow: ellipsis;
    /* Agrega puntos suspensivos (...) al final del texto que se desborda */
    white-space: nowrap;
    /* Evita que el texto se divida en múltiples líneas */
}

.precio-tarjeta {
    min-height: auto;
    font-size: 2rem;
    max-height: 3rem;
    margin-bottom: 0.2rem;
    margin-top: none;
}

.descripcion-prod-tarj {
    min-height: 3rem;
    max-height: 8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: auto;
}

.tiendaImagen {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    /* Ajusta sin deformar */
    display: block;
}

.producto-btn {
    text-decoration: none;
    color: $color-fuentes-claro;
    background-color: $color-fuentes-oscuro;
    border: 2px solid $color-fondo-oscuro;
    padding: 3px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    min-height: 4rem;
    max-height: 4.8rem;
    width: 90%;

    &:hover {
        border: 2px solid $color-fuentes-claro;
        letter-spacing: 0.5px;
    }
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: auto;
    justify-content: end;
    padding-block: end;
}

.infoCarrito {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: auto;
    justify-content: end;
    padding-block: end;
}

.carrito-producto {
    //productos agregados al carro
    display: flex;
    justify-content: initial;
    /*horizontal*/
    align-items: center;
    /*vertical*/
    border-radius: 1rem;
    border: 2px solid;
    margin: auto;
    height: 6rem;
    max-width: 99vh;
}

.carrito-producto p {
    align-items: center;
}

.carrito-tienda {
    overflow: hidden;
}

.carritoTotal {
    margin: auto;
    width: 50%;
    text-align: center; /* Centra el texto dentro del div */
}

#carrito-total {
    align-items: center;
    color: $color-negro;
    font-weight: 700;
}

.carrito-producto-btn { //los de sumar, restar y eliminar
    background-color: $color-tarjetas-claro;
    padding: 0.5rem;
    border: 1px solid $color-fuentes-claro;
    border-radius: .25rem;
    cursor: pointer;
    margin: 1rem;

    &:hover {
        background-color: $color-fondo-claro;
        color: $color-negro;
    }
}

.d-none {
    display: none;
}

.footer {
    padding-block: 2rem;
}

.no-hay-productos {
    color: $color-rojo-redes;
}