/*TARJETAS DE LA TIENDA */

.contenedorTienda {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
}

.tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.7rem;
    background-color: $color-tarjetas;
    margin-left: 1rem;
    margin-top: 2rem;
}

.tiendaImagen {
    width: 100%;
    height: 50%;
    position: relative;
    border-radius: 1.5rem;
}

.producto {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.tiendaDescripcion {
    font-size: 1.5rem;
    color: $color-fuentes-claro;
    text-align: center;
}

.tiendaPrecio {
    font-size: 2rem;
    color: $color-fuentes-claro;
    font-weight: 600;
    text-align: center;
}


#carrito {
    display: flex;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    background-color: $color-tarjetas;
    height: 20%;
    width:  75%;
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    border: 2px solid $color-fondo-oscuro;
    border-radius: 30px;
    font-size: 2rem;
    font-weight: 800;
    color: $color-fuentes-claro;
    text-align: center;
    margin-top: 2rem;
}


#formulario-compra {
    margin-top: 20px;
    margin-bottom: 20px;
}

#formulario-compra .campo-formulario {
    margin-bottom: 15px;
}

#formulario-compra label {
    display: block; /* Para que cada etiqueta se muestre en una línea separada */
}

#formulario-compra .campo-formulario {
    display: flex;
    flex-direction: column;
}

#formulario-compra button {
    background-color: $color-tarjetas;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formulario-compra button:hover {
    background-color: darken($color-tarjetas, 10%);
}

#formulario-compra .campo-error {
    border: 1px solid red; /* Cambia el borde del campo a rojo en caso de error */
}

