.containerTienda {
    max-width: auto;
    margin: 0 auto;
    padding-inline: 1.5rem;
}
/*TARJETAS DE LA TIENDA */

.contenedorTienda {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
}

.tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.7rem;
    background-color: $color-tarjetas-claro;
    margin-left: 1rem;
    margin-top: 2rem;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bricolage Grotesque", sans-serif;
}
.producto {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.header {
    padding-block: 1rem;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainTienda {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea el contenido a la parte inferior */
    align-items: flex-end; /* Alinea el contenido a la derecha */
    padding-block: 2rem;
    margin: auto;
}


.titulo {
    margin-bottom: 1rem;
}

.carrito-main {
    text-decoration: none;
    font-size: 2.5rem;
}

#numerito {
    font-size: 1.2em; 
    font-weight: 600; 
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.1rem;
    margin-bottom: 1.5rem;
}

.producto {
    margin-top: .1rem;
    background-color:$color-tarjetas-claro;
    padding: .5rem .2rem;
    border-radius: 1rem;
    color: $color-fuentes-claro;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: end;
    align-items: center;
}

.producto-img {
    border-radius: .75rem;
    width: auto;
    height: 5rem;
}

.producto-btn {
    text-decoration: none;
    color: $color-fuentes-claro;
    background-color: $color-fuentes-oscuro;
    border: 2px solid $color-fondo-oscuro;
    padding: 3px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 0.5rem;

    &:hover {
        border: 2px solid $color-fuentes-claro;
        letter-spacing: 0.5px;
    }
}
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: auto;
    justify-content: end;
    padding-block: end;
}

.infoCarrito {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: auto;
    justify-content: end;
    padding-block: end;
}

.carrito-producto {
    display: flex;
    justify-content: initial;/*horizontal*/
    align-items: center;/*vertical*/
    border-radius: 1rem;
    border: 2px solid;
    margin: auto;
    height: 6rem;
}

.carrito-finalizado {
    display: flex; /* Establece el contenedor como flexbox */
    align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
    padding: 2rem;
    border-radius: 0.7rem;
    background-color: red;
    margin-left: 1rem;
    margin-top: 2rem;
}


.carrito-producto-btn {
    background-color: $color-tarjetas-claro;
    padding: 0.5rem;
    border: 1px solid $color-fuentes-claro;
    margin-right: 4px;
    border-radius: .25rem;
    cursor: pointer;

    &:hover {
        background-color: $color-fondo-claro;
        color: $color-negro;
    }

}



.d-none {
    display: none;
}

.footer {
    padding-block: 2rem;
}

.no-hay-productos {
    color: $color-rojo-redes;
}
