// Variables para el modo claro
$color-fondo-claro: #f1dfdf; 
$color-fuentes-claro: #09096cf2; 
$color-tarjetas-claro: #759beed3; //no cambian con el boton modo
$color-negro:#000000;

// Variables para el modo oscuro
$color-fondo-oscuro: #0b2d56d5; 
$color-fuentes-oscuro: #e9f7c55b; 
$color-rojo-redes: #f72702bd; 
