$color-fondo: #136608;
$color-fuentes-titulos: #edf2f4;
$color-fuentes: #fcfcfd;
$color-tarjetas: #f6fa1e81;
$color-botones: #EDEDED;
$color-botones-sec: #54aef788;
$color-botones-tienda: #ef233c;
$color-boton: #007bff; // Por ejemplo, un azul típico

