
// Variables para el modo claro
$color-fondo-claro: #fcfcfd; 
$color-fuentes-claro: #241670; 
$color-tarjetas-claro: #6d9afad3;
$color-botones-claro: #43036896;
$color-botones-tienda-claro: #0c0455;

// Variables para el modo oscuro
$color-fondo-oscuro: #241670; // Cambia al color de fondo oscuro deseado
$color-fuentes-oscuro: #fcfcfd; // Cambia al color de fuentes oscuro deseado
$color-tarjetas-oscuro: #f72702bd; // Cambia al color de tarjetas oscuro deseado
$color-botones-oscuro: #9a00f3; // Cambia al color de botones oscuro deseado
$color-botones-tienda-oscuro: #6353ee8a; // Cambia el color de botones de tienda oscuro deseado.
